
<table border="1" cellpadding="10">
    <tr>
        <th>CurrentClockSpeed</th>
        <th>TotalVisibleUsageMemorySize</th>
        <th>SpeedNetwork</th>
    </tr>
    <tr>
        <td id="CurrentClockSpeed"></td>
        <td id="TotalVisibleUsageMemorySize"></td>
        <td id="SpeedNetwork"></td>
    </tr>
</table>

<script type="text/javascript">

    setInterval(function () { getInformations(false) }, 1000);

    function getInformations(isFirstCall) {
        $.ajax({
            method: "POST",
            url: "/Home/SystemInformation",
            dataType: 'JSON',
            success: function (response) {
                if (isFirstCall ==false) {
                    if (parseFloat($("#CurrentClockSpeed").html()) < response.CurrentClockSpeed) {
                        alert("CPU Performansı düştü");
                    }

                    if (parseFloat($("#TotalVisibleUsageMemorySize").html()) < response.TotalVisibleUsageMemorySize) {
                        alert("RAM Performansı düştü");
                    }

                    if (parseFloat($("#SpeedNetwork").html()) > response.SpeedNetwork) {
                        alert("Network Performansı düştü");
                    }
                }

                $("#CurrentClockSpeed").text(response.CurrentClockSpeed);
                $("#TotalVisibleUsageMemorySize").text(response.TotalVisibleUsageMemorySize);
                $("#SpeedNetwork").text(response.SpeedNetwork);
            },
            error: function (xhr) {

            }
        });
    }

    getInformations(true);
</script>



